@{
    ViewData["Title"] = "Home Page";
    var images = ViewData["Images"] as List<string>;
}

@foreach (var image in images)
{
    <div>
        <img src="~/images/@image" alt="@image" width="700" height="200" />
    </div>
}